

.label-float {
  top: -12px;
  font-size: 13px;
  color: black;
}

body {
    font-family: 'Inter', sans-serif;
   
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cancel-button:hover{
  color: white;
  background-color: red;
}

.save-button:hover{
  color: white;
  background-color: blue;
}

