.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
}

.header {
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.main-wrapper {
  margin-top: 42px;
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 50px);
  overflow: hidden;
  position: relative;
}

.sidebar {
  left: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  height: calc(100vh - 50px);
  flex-shrink: 0;
}

.layout {
  background-color: #f5f5f5;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
  height: calc(100vh - 50px);
  flex-grow: 1;
  scroll-behavior: smooth;
}

.side-nav-button {
  display: block;
  width: 80%;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: left;
  transition: all 0.3s ease;
  margin: 15px 0 7px 10px;
  background-color: transparent;
  text-decoration: none;
  color: #181c32 !important;
  background-color: #f2f4f6 !important;
}

.side-nav-button.active {
  color: #2884ef !important;
  background: #e6e8f0 !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
}

.side-nav-button:hover {
  color: #2884ef !important;
  background: #e6e8f0 !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
}

.list-group-item {
  width: 80%;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .layout {
    margin-left: 0;
  }

  .main-wrapper {
    flex-direction: column;
  }

  .layout {
    margin-left: 0;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    position: relative;
    top: 0;
    bottom: auto;
  }

  .layout {
    margin-left: 0;
    padding: 10px;
  }
}

.floating-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2000;
  border-radius: 50%;
}

.floating-btn p-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .custom-dialog .p-dialog-header {
  background-color: #87cefa !important;
  padding: 10px !important;
}

:host ::ng-deep .custom-dialog .p-dialog-content {
  padding: 0 !important;
}

:host ::ng-deep .custom-dialog .p-dialog-footer {
  padding: 0 !important;
}

:host ::ng-deep .custom-dialog .p-dialog {
  width: 25rem !important;
  height: 35rem !important;
  border-radius: 52px !important;
  margin-right: 5rem !important;
  padding: 0 !important;
}
