<div class="main">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="main-wrapper d-flex">
    <div class="sidebar">
      <div class="list-group">
        <ng-container *ngFor="let item of menuItems">
          <a
            *ngIf="!item.children"
            [routerLink]="item.RouterLink"
            routerLinkActive="active"
            class="side-nav-button"
          >
            <i class="{{ item.icon }}"></i> {{ item.name }}
          </a>

          <div *ngIf="item.children" class="tree-item">
            <button
              class="side-nav-button"
              mat-button
              (click)="toggleTree(item)"
            >
              <i class="{{ item.icon }}"></i> {{ item.name }}
              <i
                class="pi"
                [ngClass]="{
                  'pi-chevron-down': item.isExpanded,
                  'pi-chevron-right': !item.isExpanded
                }"
                [style.margin-left]="'48px'"
              >
              </i>
            </button>
            <div *ngIf="item.isExpanded" class="nested-tree">
              <a
                *ngFor="let subItem of item.children"
                [routerLink]="subItem.RouterLink"
                routerLinkActive="active"
                class="list-group-item side-nav-button"
              >
                <i class="{{ subItem.icon }}"></i> {{ subItem.name }}
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="layout">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="floating-btn">
    <p-button
      (click)="showDialog('bottomright')"
      icon="fas fa-comments"
      styleClass="min-w-40"
      [rounded]="true"
      severity="secondary"
    />
  </div>
</div>
<p-dialog
  class="custom-dialog"
  [modal]="true"
  [(visible)]="visible"
  [position]="'bottomright'"
  [style]="{
    width: '25rem',
    height: '35rem',
    'border-radius': '52px',
    'margin-right': '5rem',
    padding: '0px '
  }"
>
  <!-- <ng-template pTemplate="header">
    <div>
      <i class="fas fa-comments" style="margin-right: 10px"></i> 
    </div>
  </ng-template> -->

  <div
    style="
      background: linear-gradient(to top, #ffffff, #87cefa);
      height: calc(100% - 30px);
      padding: 10px;
    "
  >
    <app-chat-bot></app-chat-bot>
  </div>

  <ng-template pTemplate="footer">
    <h3 style="text-align: center">Powered By BookStore.com</h3>
  </ng-template>
</p-dialog>
