<p-dialog 
  [(visible)]="displayDialog" 
  [style]="{ width: '600px' }" 
  header="Add Book" 
  [modal]="true" 
  styleClass="p-fluid"
  [closable]="true"
  [resizable]="false"
  >

  <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Title</label>
        <input id="title" pInputText formControlName="title" required />
        <small *ngIf="addBookForm.get('title')?.hasError('required')" class="p-error">
          Title is required
        </small>
      </div>

      <div class="p-field">
        <label for="author">Author</label>
        <input id="author" pInputText formControlName="author" required />
        <small *ngIf="addBookForm.get('author')?.hasError('required')" class="p-error">
          Author is required
        </small>
      </div>

      <div class="p-field">
        <label for="publicationYear">Publication Year</label>
        <input id="publicationYear" pInputText formControlName="publicationYear" required />
        <small *ngIf="addBookForm.get('publicationYear')?.hasError('required')" class="p-error">
          Year is required
        </small>
        <small *ngIf="addBookForm.get('publicationYear')?.hasError('min')" class="p-error">
          Year must be at least 1900
        </small>
        <small *ngIf="addBookForm.get('publicationYear')?.hasError('max')" class="p-error">
          Year cannot be in the future
        </small>
      </div>

      <div class="p-field">
        <label for="price">Price (100-1000$)</label>
        <input id="price" pInputText formControlName="price" required />
        <small *ngIf="addBookForm.get('price')?.hasError('required')" class="p-error">
          Price is required
        </small>
        <small *ngIf="addBookForm.get('price')?.hasError('pattern')" class="p-error">
          Price must be a valid number
        </small>
      </div>

      <div class="p-field">
        <label for="genre">Genre</label>
        <p-dropdown 
          formControlName="genre" 
          [options]="genres" 
          optionLabel="name" 
          placeholder="Select a genre" 
          required>
        </p-dropdown>
        <small *ngIf="addBookForm.get('genre')?.hasError('required')" class="p-error">
          Genre is required
        </small>
      </div>

      <div class="p-field-checkbox">
        <p-checkbox formControlName="availability" label="Available"></p-checkbox>
      </div>
    </div>

    <div align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button 
        mat-button 
        color="primary" 
        [disabled]="addBookForm.invalid" 
        type="submit">
        Save Changes
      </button>
    </div>
  </form>
</p-dialog>