form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  width: 500px;
 
}

mat-form-field {
  width: 100%;
}

.select {
  height: 130px !important;
}

button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  width: auto;
}

.cancel-button:hover {
  color: white;
  background-color: rgb(235, 23, 23);
}

.save-button:hover {
  background-color: blue;
  color: white;
}

mat-checkbox {
  margin-top: 10px;
}

h3 {
  text-align: center;
  margin: 10px auto;
  font-size: 24px;
  color: #333;
}

@media (max-width: 600px) {
  form {
    padding: 10px;
    gap: 10px;
  }

  mat-form-field {
    width: 100%;
  }
}

.p-dialog .p-dialog-content {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.p-dialog .p-dialog-mask {
  transition: opacity 0.3s ease-out;
}
