<h2 mat-dialog-title>Add Book:</h2>

<form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
  <div class="p-fluid">
    <div class="p-field">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input id="title" matInput formControlName="title" required />
        <mat-error *ngIf="addBookForm.get('title')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="p-field">
      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input id="author" matInput formControlName="author" required />
        <mat-error *ngIf="addBookForm.get('author')?.hasError('required')">
          Author is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="p-field">
      <mat-form-field appearance="fill">
        <mat-label>Publication Year</mat-label>
        <input
          id="publicationYear"
          matInput
          formControlName="publicationYear"
          required
        />
        <mat-error
          *ngIf="addBookForm.get('publicationYear')?.hasError('required')"
        >
          Year is required
        </mat-error>
        <mat-error *ngIf="addBookForm.get('publicationYear')?.hasError('min')">
          Year must be at least 1900
        </mat-error>
        <mat-error *ngIf="addBookForm.get('publicationYear')?.hasError('max')">
          Year cannot be in the future
        </mat-error>
      </mat-form-field>
    </div>

    <div class="p-field">
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input id="price" matInput formControlName="price" required />
        <mat-error *ngIf="addBookForm.get('price')?.hasError('required')">
          Price is required
        </mat-error>
        <mat-error *ngIf="addBookForm.get('price')?.hasError('pattern')">
          Price must be a valid number
        </mat-error>
      </mat-form-field>
    </div>

    <div class="p-field">
      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <input id="genre" matInput formControlName="genre" required />
        <mat-error *ngIf="addBookForm.get('genre')?.hasError('required')">
          Genre is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="p-field-checkbox">
      <mat-checkbox formControlName="availability">Available</mat-checkbox>
    </div>
  </div>

  <div align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="addBookForm.invalid"
      type="submit"
    >
      Save Changes
    </button>
  </div>
</form>

<p-toast></p-toast>
