<div class="notification-header">
  <i class="pi pi-eye" matTooltip="Mark All As Read" (click)="markAllAsRead()"></i>
</div>

<div class="notification-container">
  <div *ngFor="let notification of notifications">
    <div
      class="notification"
      (mouseenter)="notification.showDelete = true"
      (mouseleave)="notification.showDelete = false"
    >
      <div class="notification-header">
        <span class="timestamp">{{ notification.date | date: 'shortTime' }}</span>
      </div>
      <div class="notification-type">
        <strong>{{ notification.type }}:</strong>
      </div>

      <div class="notification-content">
        <div *ngIf="notification.data">
          <div *ngIf="notification.data.message">
            <strong>{{ notification.data.message }}</strong>
          </div>
          <div *ngIf="notification.data.bookName">
            <p>Book Name: {{ notification.data.bookName }}</p>
          </div>
        </div>

        <div *ngIf="!notification.data">
          <p>No additional information available.</p>
        </div>
      </div>

      <div class="notification-footer">
        <i
          class="pi pi-trash delete-icon"
          [ngClass]="{ visible: notification.showDelete }"
          (click)="deleteNotification(notification)"
          matTooltip="Delete"
        ></i>
      </div>
    </div>
  </div>
</div>
