<p-toolbar [style]="{ backgroundColor: '#F4F4F4' }">
  <div class="header">
    <img src="assets/logo.png" alt="Cart" style="width: 160px; height: 80px" />
  </div>

  <span class="right">
    <p-button *ngIf="!isLoggedIn" label="Login" icon="pi pi-user"></p-button>

    <div class="nav-btn" style="margin-right: 10px" routerLinkActive="active">
      <button
        class="cart fa-btn"
        style="border: none"
        [matTooltip]="'cart'"
        routerLink="/component/cart"
      >
        <i class="pi pi-shopping-cart text-2xl"></i>
      </button>

      <button
        class="notification fa-btn"
        [matTooltip]="'notification'"
        (click)="openNotificationDialog()"
      >
      <i class="pi pi-bell text-2xl" pBadge="unreadCount" ></i>
      </button>
    </div>

    <div *ngIf="userProfileVisible">
      <div class="user-profile">
        <h4>Hi, {{ userName }}</h4>

        <button class="avatar fa-btn" (click)="toggleProfileMenu()">
          <i class="fa fa-user"></i>
        </button>

        <p-menu
          *ngIf="profileMenuVisible"
          [model]="profileItems"
          class="profile-menu"
        ></p-menu>
      </div>
    </div>
  </span>
</p-toolbar>

<div class="card flex justify-center">
  <p-toast></p-toast>

  <p-confirmDialog></p-confirmDialog>
</div>
<p-dialog
  header="Notifications"
  [(visible)]="notificationDialogVisible"
  [closable]="true"
  [modal]="true"
  [style]="{
    position: 'fixed',
    top: '100px',
    right: '20px',
    width: '450px',
    height: '550px'
  }"
>
  <app-notification></app-notification>
</p-dialog>
