.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
}

.heading {
  font-size: 20px;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: 15px;
  /* background-color: white; */
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.fa-btn {
  background: none !important;
}
.avatar:hover {
  background-color: #f0f0f0;
}

.fa-btn {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #050505 !important;
  border-color: #eef6ff !important;
  border-radius: 50%;
  margin: 0px 0px 0px 10px;
  font-size: 1rem;
}

.profile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1000;
  width: auto;
  background-color: #f4f4f4 !important;
  color: #050505;
}

.p-menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4 !important;
  border-radius: 5px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile h4 {
  margin: 0;
}

.notification {
  border: none;
  border-radius: 50%;
}

/* .p-button-danger {
  background-color: #f44336 !important;
  border-color: #f44336 !important;
} */

/* .p-button-danger:hover {
  background-color: #d32f2f !important;
  border-color: #d32f2f !important;
} */

/* .p-button-text {
  color: #6c757d !important;
} */

.avatar:hover {
  /* background-color: #f0f0f0; */
  transform: scale(1.1);
}

.fa-btn:hover {
  color: #3e97ff !important;
  /* background-color: #3e97ff !important;
  border-color: #3e97ff !important; */
  font-weight: 600 !important;

  transition: background-color 0.3s, transform 0.3s;
}


.fa-btn.active {
  color: #3e97ff !important;
  /* background-color: #3e97ff !important; */
  border-color: #3e97ff !important;
  font-weight: 600 !important;
border: 0.5px solid #3e97ff !important;
  transition: background-color 0.3s, transform 0.3s;
}

/* .fa-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
