<div class="forgot-password-form">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div *ngIf="!otpVerified">
      <div class="form-field email-otp-container">
        <p-floatLabel class="w-75">
          <input
            pInputText
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            class="form-control"
          />
          <label class="label-float" for="email">Email</label>
        </p-floatLabel>

        <div class="otp-action-container">
          <span *ngIf="otpSent && resendTimeout > 0" class="otp-timer">
            Resend OTP in <i class="fa fa-clock" style="color: blue"></i>
            {{ resendTimeout }}s
          </span>

          <button
            type="button"
            class="forgot-password-btn"
            (click)="sendOtp()"
            [disabled]="otpSent && resendTimeout > 0"
          >
            {{ otpSent && resendTimeout > 0 ? "Resend OTP" : "Get OTP" }}
          </button>
        </div>
      </div>

      <div *ngIf="otpSent && !otpVerified" class="otp-input-container">
        <label for="otp">Enter OTP :</label>
        <p-floatLabel class="w-100">
          <p-inputOtp class="otp" formControlName="otp"></p-inputOtp>
        </p-floatLabel>
        <button
          pButton
          class="btn verify-btn mt-2"
          type="button"
          (click)="verifyOtp()"
        >
          Verify OTP
        </button>
      </div>
    </div>

    <div *ngIf="otpVerified" class="reset-password-container">
      <div class="form-field w-100">
        <p-floatLabel class="w-100">
          <p-password
            formControlName="newPassword"
            toggleMask="true"
            [feedback]="false"
            inputStyleClass="form-control"
            placeholder="New Password"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            required
          ></p-password>
          <label for="newPassword">New Password</label>
        </p-floatLabel>
      </div>

      <div class="form-field w-100">
        <p-floatLabel class="w-100">
          <p-password
            formControlName="confirmPassword"
            toggleMask="true"
            [feedback]="false"
            inputStyleClass="form-control"
            placeholder="Confirm Password"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            required
          ></p-password>
          <label for="confirmPassword">Confirm Password</label>
        </p-floatLabel>
      </div>

      <button
        pButton
        class="btn btn-success mt-2 update-btn"
        type="button"
        (click)="resetPassword()"
      >
        Update Password
      </button>
    </div>
  </form>

  <div class="form-footer mt-3">
    <p>
      Remember your password?
      <button class="sign-up-btn" (click)="backToLogin()">Login</button>
    </p>
  </div>
</div>
<p-toast />
